{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />  
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
        <title>Heat Map</title>
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.css' rel='stylesheet' />
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
        <style>
            body { margin:0; padding:0; text-align: center;}
            #map { position:absolute; top:0; bottom:0; width:100%; z-index: -1;}
        </style>
    </head>
    <body>
        <div><input type="button" name="Submit" onclick="javascript:history.back(-1);" value="返回" /></div><br />
        <div id="map"></div>
        <script type="text/javascript">
            // 创建地图
            mapboxgl.accessToken = 'pk.eyJ1IjoiZmVsYXJpZSIsImEiOiJjazJ4Z2wybG0wOWJxM21xcmJsNDZzcnp3In0.ZrLvRZJByBXfvWW8OPOq8w';
	        var map = new mapboxgl.Map({
	            container: 'map',
	            style: 'mapbox://styles/mapbox/streets-v11', 
	            center: [118.91105829179,32.11701001102], 
	            zoom: 16
            });

            //记录用户在线信息
            user_features = []
            {% for user_info in user_infos %}
                user_feat = {}
                user_feat["type"] = "Feature"
                user_feat["geometry"] = {
                    "type": "Point",
                    "coordinates": [{{user_info.current_longitude}}, {{user_info.current_latitude}}]        
                }
                user_feat["properties"] = {
                    "id": "{{user_info.user_id}}"
                }
                user_features.push(user_feat)
                a = {{user_info.current_latitude}}
            {% endfor %}

            var poi_layer = {
                "id": "pois",
                "type": "circle",
                "source": {
                    "type": "geojson",
                    "data": {
                        "type": "FeatureCollection",
                        "features": user_features
                    }
                },
                "paint": {
			        "circle-color": "#3887be",
			        "circle-radius": 5
		        }
            }

            map.on('load', function() {
                map.addSource("pois", {
                    type: "geojson",
                    data: {
                        "type": "FeatureCollection",
                        "features": user_features
                    },
                    cluster: true,
                    clusterMaxZoom: 20, // Max zoom to cluster points on
                    clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
                });   

            map.addLayer({
                id: "clusters",
                type: "circle",
                source: "pois",
                filter: ["has", "point_count"],
                paint: {
                    "circle-color": [
                        "step",
                        ["get", "point_count"],
                        "#51bbd6",
                        100,
                        "#f1f075",
                        500,
                        "#f28cb1"
                    ],
                    "circle-radius": [
                        "step",
                        ["get", "point_count"],
                        20,
                        100,
                        30,
                        500,
                        40
                    ]
                }
            });    

            map.addLayer({
                id: "cluster-count",
                type: "symbol",
                source: "pois",
                filter: ["has", "point_count"],
                layout: {
                    "text-field": "{point_count_abbreviated}",
                    "text-font": ["DIN Offc Pro Medium", "Arial Unicode MS Bold"],
                    "text-size": 12
                }
            });

            map.addLayer({
                id: "unclustered-point",
                type: "circle",
                source: "pois",
                filter: ["!", ["has", "point_count"]],
                paint: {
                    "circle-color": "#11b4da",
                    "circle-radius": 4,
                    "circle-stroke-width": 1,
                    "circle-stroke-color": "#fff"
                }
            });         

 
            // inspect a cluster on click
            map.on('click', 'clusters', function (e) {
                var features = map.queryRenderedFeatures(e.point, { layers: ['clusters'] });
                var clusterId = features[0].properties.cluster_id;
                map.getSource('pois').getClusterExpansionZoom(clusterId, function (err, zoom) {
                    if (err)
                    return;
                    
                    map.easeTo({
                        center: features[0].geometry.coordinates,
                        zoom: zoom
                    });
                });
            });   

            map.on('mouseenter', 'clusters', function () {
                map.getCanvas().style.cursor = 'pointer';
            });
            map.on('mouseleave', 'clusters', function () {
                map.getCanvas().style.cursor = '';
            });                        
                                      
        })
        </script>
    </body>
</html>