#info {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}

.properties {
    background: rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding:5px 10px;
    margin: 0;
    font-size: 15px;
    line-height: 18px;
    border-radius: 3px;
    text-align: left;
    display: none;
    }

#userManage {
	position: relative;
}

#timeSelect {
	position: relative;
	top: 50px;
	left: 50px;
	z-index: 2;
}

/* 最外层div */
.layers {
    position: relative;
    float: right;
}
/* 隐藏原来的表单 */
.radio_type {
	display: none;
}
/* 将label设置为块级元素 */
.layerLabel {
	width: 100%;
	display: inline-block;
	line-height: 50px;
	position: relative;
	text-align: center;
	border-top: 1px solid #eee;
	font-size: 16px;
	font-family: '微软雅黑';
}
.layerLabel:active {
	background: #EEEEEE;
}
/* 在label前或后添加一个空白字符,设置宽高,设置圆角使之成为圆形 */
.layerLabel:after {
	content: "";
	width: 20px;
	height: 20px;
	border: 1px solid #dbe1eb;
	border-radius: 20px;
	display: inline-block;
	position: absolute;
	top: 15px;
	left: 15px;
}
/* label与check是绑定的，点击label会被checked，设置被选中时check选框背景 */
.radio_type:checked+.layerLabel:after{
	background-color: #6099da;
}
/* 被选中时label背景 */
.radio_type:checked+.layerLabel{
	background:-webkit-linear-gradient(left top,#fbfcfd,#6099da);
}

#nav {
    font-size: 16px;
}

#nav a {
    color: black;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 14px 0px;
    background-color: white;
}

.floorActive {
    background-color: #6099da;
}

#nav a:hover {
    background-color: #6099da;
}