#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 550px;
    right: 80px;
    border-radius: 3px;
    width: 60px;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
}
 
#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
}
 
#menu a:last-child {
    border: none;
}
 
#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}
 
#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}
 
#menu a.active:hover {
    background: #3074a4;
}

#info {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}

.properties {
    background: rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding:5px 10px;
    margin: 0;
    font-size: 15px;
    line-height: 18px;
    border-radius: 3px;
    text-align: left;
    display: none;
    }

#userManage {
	position: relative;
}

#timeSelect {
	position: relative;
	top: 50px;
	left: 50px;
	z-index: 2;
}

/* 最外层div */
.layers {
	width: 800px;
	height: 800px;
	max-height: 400px;
	max-width: 400px;
	left: 50%;
	position: absolute;
	margin-left: -200px;
	top: 50%;
	margin-top: -200px;
}
/* 隐藏原来的表单 */
input {
	display: none;
}
/* 将label设置为块级元素 */
label {
	width: 30%;
	height: 50px;
	display: inline-block;
	line-height: 50px;
	position: relative;
	text-align: center;
	border-top: 1px solid #eee;
	font-size: 16px;
	font-family: '微软雅黑';
}
label:active {
	background: #EEEEEE;
}
/* 在label前或后添加一个空白字符,设置宽高,设置圆角使之成为圆形 */
label:after {
	content: "";
	width: 20px;
	height: 20px;
	border: 1px solid #dbe1eb;
	border-radius: 20px;
	display: inline-block;
	position: absolute;
	top: 15px;
	left: 15px;
}
/* label与check是绑定的，点击label会被checked，设置被选中时check选框背景 */
input:checked+label:after{
	background-color: #6099da;
}
/* 被选中时label背景 */
input:checked+label{
	background:-webkit-linear-gradient(left top,#fbfcfd,#6099da);
}